*{
    margin:0px;
    padding: 0px;
}

h1{
    position: absolute;
}
.button{
    background-image: url(New/bt.png);
    background-size: 40px 40px;
    background-repeat:no-repeat ;
background-position: center;
border: 2px solid gray;
    height: 45px;
    width: 45px;
    margin-right:10px ;
    margin-top: 5px;
    position: relative;
     top: 6px;
    left: 88vw;
}

.wrapper{
    position: relative;
    background-color: chocolate;
height: 10vh;
width: 100vw;
}



.button:hover {
    background-color:aqua ;
    cursor:pointer;
}

.wrapper div div{
    width: 5000px;
    position: relative;
    right: 99vw;
}

.wrapper div div ul{
    margin-top: 45px;
    list-style: none;
    display: none;
    position: relative;
    left: 99vw;
}

.wrapper div div ul li{
    display: block;
}

@media (max-width:1100px){
.button:hover div ul{
    display: block;
}
}

@media (max-width:1100px) {
    .button:hover div{
        background-color: chocolate;
    box-sizing: border-box;
    }
}

@media (min-width:1100px){
    .button{
        display: none;
    }
    }

body{
    overflow: scroll;
}

.chick{


    margin: 50px 10px 0px 10px;
    border: 1px solid aqua;
    width: 65vw;

}

.chick div{
text-align: center;
    right: 0px;
}

.chick p{
padding:20px;    
}

.bee{


    margin: 50px 10px 0px 10px;
    border: 1px solid aqua;
    width: 65vw;
}

.bee div{
text-align: center;
    right: 0px;
}

.bee p{
padding:20px;    
}

.sus{

position: relative;
    margin: 50px 10px 0px 10px;
    border: 1px solid aqua;
    width: 65vw;
}

.sus div{
    right: 0px;
    text-align: center;
}

.sus p{
padding:20px;    
}

#contain{
    display: grid;
    justify-content: center;
    margin-top: 40px;
}



.our{
    position: absolute; 
    width: 100vw;
    left: 46vw; 
    top: 10vh;
    display: block;
    font-size:30px ;
    font-family: arial;
    font-weight: bold;
}

@media (max-width:1100px){
    .our{
        top: 20vh;
        width: 30vw;
        left: 42vw;
    }
    #contain{
        margin-top:60px ;
    }
}